<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button [routerLink]="'/tabs/tab2'" routerDirection="backward">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
  
      <ion-title>Edit List</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
      <ion-item>
        <ion-label position="stacked">Title</ion-label>
        <ion-input type="text" value="{{oldname}}" [(ngModel)]="name"></ion-input>
      </ion-item>
      <div text-center>
        <ion-button color="tertiary" [disabled]="name == oldname" (click)="edit()" [routerLink]="'/tabs/tab2'" routerDirection="backward"> 
          Edit
          <ion-icon slot="end" name="arrow-dropright"></ion-icon>
        </ion-button>
      </div>
  </ion-content>
  