<ion-header>
</ion-header>

<ion-content padding>
  <div text-center>
    <ion-button color="danger" (click)="loginGPlus()">
      <ion-icon name="logo-googleplus"></ion-icon>
    </ion-button>
    <ion-button color="primary" (click)="loginFacebook()">
      <ion-icon name="logo-facebook"></ion-icon>
    </ion-button>
  </div>
  <ion-item>
    <ion-label position="stacked">User</ion-label>
    <ion-input type="text" placeholder="Mail" [(ngModel)]="mail"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="stacked">User</ion-label>
      <ion-input type="password" placeholder="Password" [(ngModel)]="pass"></ion-input>
    </ion-item>
  <div text-center>
    <ion-button color="tertiary" [disabled]="mail.length == 0 || pass.length == 0" (click)="login()">
      Login
      <ion-icon slot="end" name="arrow-dropright"></ion-icon>
    </ion-button>
  </div>
</ion-content>