<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="'/tabs/tab2'" routerDirection="backward">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="resetList()" [routerLink]="'/newitem/' + id" routerDirection="forward">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list #slidingList>
      <ion-item-sliding *ngFor="let tdl of mytodos">
        <ion-item>
            <ion-checkbox checked={{tdl.complete}} (click)="checkitem(tdl.uuid)"></ion-checkbox>
            <ion-label>
              <h2>{{tdl.name}}</h2>
              <p>{{tdl.desc}}</p>
            </ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="primary" (click)=edit(tdl.uuid)>
              <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" (click)=delete(tdl.uuid,tdl.name)>
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
</ion-content>
